<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd ">

	<import resource="classpath*:*spring/hibernateConfig.xml" />

	<context:component-scan
		base-package="com.base.service" />

	
	<bean id="authenticationService"
		class="com.base.service.service.AuthenticationService"></bean>

	<bean id="carService"
		class="com.base.service.service.CarService"></bean>
	<mvc:annotation-driven />

	<!-- Configures Interceptors -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"></mvc:mapping>
			<bean class="com.base.service.interceptor.CorsInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"></mvc:mapping>
			<bean class="com.base.service.interceptor.DeviceInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"></mvc:mapping>
			<mvc:exclude-mapping path="/auth/**"/>
			<bean class="com.base.service.interceptor.AuthenticationInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="false" />
		<property name="favorParameter" value="true" />
		<property name="parameterName" value="mediaType" />
		<property name="ignoreAcceptHeader" value="true" />
		<property name="useJaf" value="false" />
		<property name="defaultContentType" value="application/json" />

		<property name="mediaTypes">
			<map>
				<entry key="json" value="application/json" />
			</map>
		</property>
	</bean>
	<bean id="session" class="com.base.bean.SessionBean"
		scope="request">
		<aop:scoped-proxy proxy-target-class="true" />
	</bean>
	<mvc:cors>
		<mvc:mapping path="/**" />
	</mvc:cors>
</beans>